:root {
  --shadow-width: 10px;
  --shadow-opacity: 0.3;
  --shadow-space-from-card: 15px;
}

.card-container {
  position: absolute;
  transform-style: preserve-3d;
}

.card {
  width: 60px;
  height: 100px;
  transform-style: preserve-3d;
}

.card-face {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;

  border-radius: 10px;
  text-align: center;
}

.card-face > img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.card-face_front {
  transform: rotateY(180deg);
}

.card-shadow {
  background-color: black;
  opacity: var(--shadow-opacity);
  height: var(--shadow-width);
  border-radius: 70%;
  transform: rotateX(90deg)
    translateZ(
      calc(-1 * (var(--shadow-space-from-card) - (var(--shadow-width) / 2)))
    );
}

.card-debug-id {
  font-family: sans-serif;
  color: black;
  font-size: 20px;
  -webkit-text-stroke: 0.5px white;
  -webkit-text-fill-color: black;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
