.card-carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;

  display: flex;
  justify-content: center;
}

.carousel-debug-plane {
  position: absolute;
  width: 600px;
  height: 600px;
  background: rgb(215, 163, 94);
  background: radial-gradient(
    circle,
    rgba(215, 163, 94, 1) 17%,
    rgba(27, 184, 53, 1) 53%,
    rgba(192, 0, 200, 1) 93%
  );
  transform-style: preserve-3d;
  transform: translateY(-184px) rotateX(90deg);
  opacity: 0.7;
}

.carousel-reveal-barrier {
  position: absolute;
  width: 100%;
  height: 220px;
  top: -105px;
  transform-style: preserve-3d;
  opacity: 0.5;
}

.carousel-reveal-barrier.debug {
  background: red;
}
