* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  overflow: hidden;
  /* background-color: black; */
  background: rgb(94, 206, 215);
  background: radial-gradient(
    circle,
    rgba(94, 206, 215, 1) 17%,
    rgba(27, 139, 184, 1) 64%,
    rgba(0, 116, 200, 1) 100%
  );
}

#root {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;
  max-width: 1000px;
  width: 100%;
}
